# build folders
__pycache__/
.vscode/
wandb/
template/
help_code/

# rasterise folder
/utils/rasterize/*
!/utils/rasterize/*.cpp
!/utils/rasterize/*.cu

# # template models
# /template/*
# !/template/control*.obj
# !/template/template_mesh-myo.obj
# !/template/cap_ref_0000.nii.gz
# !/template/cap_ref.nii.gz

# utils
/utils/template_mesh_creator-cap.py
sdf_test.py
subdiv_test.py
update_json_4d.py

# files with extension
*.out
*.txt
*.json
*.html

