*/

# Utils and Rasterizer
!/utils/
/utils/*
!/utils/rasterize/
/utils/rasterize/*
!/utils/rasterize/*.py
!/utils/rasterize/*.cpp
!/utils/rasterize/*.cu
!/utils/path_config.py
!/utils/process_nrrd_slices.py
!/utils/update_dataset_json.py
!/utils/testing/
!/utils/testing/*.py

# Data-loader
!/data

# Networks
!/model

# Training Loop
!/training

# Evaluation
!/evaluation

# README and others
!figure/
!README.md
!LICENSE
!main.py
!run.py
!sweep_agent.py
!control.sh
!install_morphinet.sh
!run_sweep.sh
!sweep_config.yaml
!environment.yml
